<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOTSTRAP, FONT AWESOME, etc. -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/stylesBeca.css">
  <title><%= title %></title>
</head>
<body>
  <div class="success">
    <div class="success__container text-center">
      <img src="https://campus.construsoft.com/pluginfile.php/1/core_admin/logo/0x200/1742552546/Construsoft%20logo.png" alt="CampusCS" class="mb-4">

      <h3 id="titulo"><%= title %></h3>
      <br>
      <div class="parrafo mb-4">
        <%- message %>
      </div>

      <% if (link && link.url && link.text) { %>
        <a href="<%= link.url %>" class="button">
          <%= link.text %>
        </a>
      <% } %>
    </div>
  </div>

  <!-- Scripts Bootstrap, jQuery, etc. -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
